*{
	margin:0;
	padding: 0;
}
/*-----navigation-----*/
#nav-bar {
	position: sticky;
	top:0;
	z-index: 10;
}
.navbar-brand img {
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li {
	padding: 0 10px;
}
.navbar-nav li a {
	float:right;
}
#nav-bar ul li a:hover {
	color: #007bff!important;
}
.navbar{
	background:#fff;
}
.navbar-toggler{
	border:none!important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/*----navigation end---*/
/*---slider---*/
#slider{
	width:100%;
}
.carousel-caption{
	top:50%;
	transform: translate();
	bottom:initial!important;
}
.carousel-caption h5{
	color: #fff;
	font-size: 45px;
}
.img-fluid {
    max-width: 100%;
    height: 600px;
}
/*----About-----*/
#about {
	padding-top: 60px;
	padding-bottom: 60px;
	color: #555;
}
#about .btn {
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content{
	padding-top: 20px;
}
.skill-bar p{
margin-bottom: 8px;
font-weight: 700;
margin-top: 10px;
}
.progress-bar{
	border-radius: 16px;
}
.progress{
	border-radius: 16px;
	margin-bottom: 10px;
}
/*----------Services-----------*/
#services{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/servic.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #efefef!important;
	min-height: 400px;
}
#services h2 {
	text-align: center;
	color:#efefef!important;
	padding-bottom: 50px;
}
#services h2::after {
	content: '';
	display: block;
	height: 3px;
	width: 175px;
	color: #007bff;
	margin:20px auto 5px;
}
.services{
	margin-top: 40px;
}
.icon {
    margin: 30px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #ec9c0a;
    border-radius: 50%;
}
.fa.fa-mobile.icon {
    font-size: 40px;
    color: #ea9d10;
}
.fa.fa-line-chart.icon {
    font-size: 40px;
    color: #ea9d10;
}
.fa.fa-paint-brush.icon {
    font-size: 40px;
    color: #ea9d10;
}
.fa.fa-desktop.icon {
    font-size: 40px;
    color: #ea9d10;
}
#services p{
	font-size: 15px;
	margin-top: 20px;
}
.services .col-md-3:hover{
	background:#007bff;
	cursor: pointer;
	transition: 0.6 ease;
}
/*---Team---*/
#team{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
h1{
	text-align: center;
	color: #555;
	padding-bottom: 10px;
}

h1::after{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}


.img-responsive {
    width: 200px;
    height: 150px;
}
.profile-pic {
	margin-top: 25px;
}
.profile-pic .img-box{
	opacity: 1;
	display: block;
	position: relative; 
}
.profile-pic .img-box img{
	filter: grayscale(1);
}
.profile-pic .img-box img:hover{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2{
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	color: #007bff!important;
}
.profile-pic h3{
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
}
#team .fa{
	height: 25px;
	width: 25px;
	color: #007bff!important;
	background:#fff;
	padding: 4px;
	border-radius: 50%;
}
.img-box ul {
    padding: 120px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
	padding: 5px;
	display: inline-block;
}
.img-box:hover ul {
	opacity: 1;
}
.img-box ul,.img-box ul li{
	transition: 0.5s;
}
/*--------- promo-------*/
#promo{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/promo.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: #fff;
	padding: 100px;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
}
/*-----------price plans---------*/
#price{
	padding:40px 0;
	background: #efefef; 
}
.single-price{
	margin:10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;

}
.single-price:hover {
	box-shadow: 0 2px 20px #333;
}
.price-head{
	background-color: #2196f3;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
}
.price-head h2{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
}
.price-head p{
	font-size: 25px;
	color: #ccc;
	font-weight: bold;
	line-height: 30px;

}
#price span {
	font-size: 15px;
}
.price-content{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}
.price-content ul li{
	border-bottom: 1px solid #efefef;
	padding: 15px 10px;
	list-style: none;
}
ul li:last-child{
	border: none;
}
.fa-check-circle {
	color: green;
	margin-right: 10px;
	font-size: 20px;
}
.fa-times-circle{
	color: red;
	margin-right: 10px;
	font-size: 20px;
}

.price-button{
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	width: 100%;
	text-align: center;
}
.buy-btn{
	background-color: #2196f3;
	border-radius: 4px;
	display: inline-block;
	font-size: 18px;
	padding: 15px 50px;
	transition: 0.5s;
}
.buy-btn:hover{
	border-color: 1px solid #fff;
	background-color: #3f51b5;
}
a {
	text-decoration: none!important;
	color: #fff!important;

}
/*-------Testimonials-----*/
#testimonials{
	padding-top: 50px;
	padding-bottom: 50px;
}
img.user {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
#testimonials.row{
	margin-top: 40px;
}
.row {
    margin-top: 40px;
}
.col-md-4{
	margin: 40px auto;
}
.profile{
	padding: 70px 10px 10px;
	background-color: #efefef;
}
.profile img {
    top: -60px;
    position: absolute;
    border: 10px solid #fff;
    left: 123px;
}
.profile h3{
	font-size: 20px;
	margin-top: 15px;
	color: #007bff;

}
#testimonials span{
	font-size: 13px;
	color: #333;
}
blockquote {
	font-size: 16px;
	line-height: 30px;
}

blockquote:before {
	
	content: '\93';
	font-size: 50px;
	color: #007bff;
	position: relative;
	line-height: 20px; 
	bottom: -15px;
	right: 5px;
}
blockquote:after {
	
	content: '\94';
	font-size: 50px;
	color: #007bff;
	position: relative;
	line-height: 10px; 
	bottom: -15px;
	left: 5px;
}

.profile:hover {
	box-shadow: 0 0 15 5 rgba(0,0,0,0.2);
	cursor:pointer;
	transition: 0.5s;
}

/*---------Get in touch--------*/
#contact{
	background: #efefef;
	padding-bottom: 40px;
	padding-top: 40px;
	color: #777;
}
.contact-form{
	padding: 15px;
}
.form-control{
	border-radius: 0!important;
	border: none!important;
}
::placeholder{
	color:#999!important;
}

.follow{
	margin: 25px;
	padding: 20px;
}

.contact-info .fa{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}

/*--------footer-------*/
#footer{
	background-color:#333;
	color: #fff;
	padding: 15px; 
}
.fa-heart-o{
	margin: 3px;
	color: red;
}
















